name: Deploy Backend (PHP)

on:
  push:
    branches: [main]
    paths: ['backend/**'] # Chỉ chạy khi Backend thay đổi

jobs:
  web-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Sync Backend files via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.BE_FTP_HOST }}
          username: ${{ secrets.BE_FTP_USERNAME }}
          password: ${{ secrets.BE_FTP_PASSWORD }}
          local-dir: ./backend/
          server-dir: /apitestoss.somee.com/ # ĐƯỜNG DẪN ĐÍCH ĐÃ XÁC NHẬN
          protocol: ftps
          security: loose
          exclude: |
            **/.git*
            .env