name: Deploy BE via FTP

on:
  push:
    branches:
      - main
    paths:
      - 'be/**'

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Upload BE via FTP
        uses: SamKirkland/FTP-Deploy-Action@4.3.4
        with:
          server: ${{ secrets.BE_FTP_HOST }}
          username: ${{ secrets.BE_FTP_USER }}
          password: ${{ secrets.BE_FTP_PASS }}
          server-dir: ${{ secrets.BE_FTP_DIR }}
          local-dir: ./be
