name: Deploy Frontend (PHP) via FTP

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "frontend/**" # Chỉ chạy khi có thay đổi trong thư mục frontend/

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # --- Deploy to Hosting BE via FTP ---
      - name: FTP Deploy Backend
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          # Thư mục nguồn cần đẩy (chứa product_api.php)
          local-dir: frontend/
          server-dir: www.testoss.somee.com/

          # Thông tin đăng nhập sử dụng Secrets bạn đã tạo
          server: ${{ secrets.BE_FTP_HOST }}
          username: ${{ secrets.BE_FTP_USERNAME }}
          password: ${{ secrets.BE_FTP_PASSWORD }}

          # Cẩn thận: Xóa các file cũ trên host không còn trong thư mục 'backend'
          dangerous-clean-slate: true

          # Loại bỏ các file git không cần thiết
          exclude: "**/.git* **/.git*"
