name: Deploy FE

on:
  push:
    branches:
      - main
    paths:
      - 'fe/**'

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Upload FE via FTP
        uses: SamKirkland/FTP-Deploy-Action@4.3.4
        with:
          server: ${{ secrets.FE_FTP_HOST }}
          username: ${{ secrets.FE_FTP_USER }}
          password: ${{ secrets.FE_FTP_PASS }}
          server-dir: ${{ secrets.FE_FTP_DIR }}
          local-dir: ./fe
          